pkgbase = bankai-bin
	pkgdesc = Focused Electron workspace for persistent project shell sessions
	pkgver = 0.2.57
	pkgrel = 1
	url = https://github.com/juicerq/bankai
	arch = x86_64
	license = MIT
	makedepends = imagemagick
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libnotify
	depends = hicolor-icon-theme
	depends = git
	provides = bankai
	conflicts = bankai
	noextract = bankai-0.2.57.AppImage
	options = !strip
	options = !debug
	source = bankai-0.2.57.AppImage::https://github.com/juicerq/bankai/releases/download/v0.2.57/Bankai-0.2.57.AppImage
	sha256sums = 227c4d9ac5276de331fd73e4c7e9d23e8501cf6e543cebe0d76223798fe4cefd

pkgname = bankai-bin
