pkgbase = bankai-bin
	pkgdesc = Focused Electron workspace for persistent project shell sessions
	pkgver = 0.2.61
	pkgrel = 1
	url = https://github.com/juicerq/bankai
	arch = x86_64
	license = MIT
	makedepends = imagemagick
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libnotify
	depends = hicolor-icon-theme
	depends = git
	provides = bankai
	conflicts = bankai
	noextract = bankai-0.2.61.AppImage
	options = !strip
	options = !debug
	source = bankai-0.2.61.AppImage::https://github.com/juicerq/bankai/releases/download/v0.2.61/Bankai-0.2.61.AppImage
	sha256sums = 3d88a10fa8d0b89acdb888fcd39cf1e0b2a57686a0ae9af56589347c31a49474

pkgname = bankai-bin
